# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build output
/.next
/out

# Production
/build

# Testing
/coverage

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Typescript
*.tsbuildinfo

# VSCode
.vscode/*
!.vscode/extensions.json
